html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: rgb(235, 207, 238);
    font-family: Arial, Helvetica, sans-serif;

}

fieldset{
    background-color:#c6b4d4;
    border-color: transparent;
}

legend{
    font-size: 32px;
    color:rgb(34, 31, 31);
    font-family:monospace;
}

.header{
    font-family: 'Brush Script MT'; 
    text-align: center;
}

h1{
    color: #AE72F2;
    text-shadow: #1F0E19 5px 5px; 
    font-size: 80px;
    margin-bottom: 1em;
}

h2{
    font-size: 18px;
    color: rgb(34, 31, 31);
    font-family: monospace;
}

ul{
    list-style-type: none;
}

/* make the logo do cursor as pointer */
p {
    color: rgb(34, 31, 31);

}

.bannerWords {
    text-shadow: #ceacbd 4px 4px;
    font-size: 45px;
    /* text-align: center; */
    font-family: "Brush Script MT";
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}

.home-a {
    position: relative;
    text-align: center;
    text-decoration: none;
}

.about-b {
    position: relative;
    text-align: center;
    text-decoration: none;
}

.services-d {
    position: relative;
    text-align: center;
    text-decoration: none;
}

.contact-e {
    position: relative;
    text-align: center;
}

@media only screen and (max-width: 400px) {}