html {
    scroll-behavior: smooth;
    background-image: url(./IMG_8475.PNG);
    background-repeat: no-repeat;
    background-size: 400px 450px;
    background-position: 60px 30px;
    /* oversides other css pages externally */
    position: static;
    text-align: center;
    /* background-color: rgb(38, 41, 39); */
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.bannerWords {
    color: rgb(22, 20, 20);
    text-shadow: #acafce 4px 4px;
    font-size: 45px;
    text-align: center;
    font-family: "Brush Script MT";
}
